@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  background-color: #16a085;
}

.nav-items {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
  /* font-size: 18px; */
}

.menu {
  font-size: 25px;
  color: white;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.profile img {
  border-radius: 50%;
  width: 100%;
}
.dropdown-menu {
  position: absolute;
  right: -26px;
  top: 50px;
  display: none;
}
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  color: black;
}
.profile:hover .dropdown-menu {
  display: block;
}
/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.image {
  width: 100px;
  height: 100px;
}
.image img {
  width: 100%;
  border-radius: 50%;
}
.row {
  display: flex;
  gap: 10px;
}
.heading {
  font-size: 18px;
}
.columns {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
}
input[type="text"] {
  width: 90px;
  text-align: center;
  font-size: 16px;
} */
.logo {
  height: 50px;
  display: flex;
  align-items: center;
}

